$break-small: 719px;
$font-body: "Source Sans Pro", sans-serif;
$font-accent: "Bitter", serif;
$color-white: #f3f3f3;
$color-primary--light: #434345;
$color-primary--main: #1c1c1e;
$color-primary--dark: #000000;
$color-secondary--light: #64e8ff;
$color-secondary--main: #06b6dc;
$color-secondary--dark: #0086aa;
$cta-height: 48px;
$wbm-height: $cta-height;
$wbm-width: $wbm-height * 4.23;

body {
  font-family: $font-body;
  color: $color-primary--light;
  background-color: $color-white;

  --illu-bg--dark: #000000;
  --illu-bg--main: #1c1c1e;
  --illu-bg--light: #434345;
  --illu-red--dark: #ae003e;
  --illu-red--main: #e61f68;
  --illu-blue--dark: #0086aa;
  --illu-blue--main: #06b6dc;
  --illu-red--light: #ff6096;
  --illu-blue--light: #64e8ff;
  --illu-brown--dark: #926c5d;
  --illu-brown--main: #c39a8a;
  --illu-green--dark: #007402;
  --illu-green--main: #0ca438;
  --illu-white--dark: #c0c0c0;
  --illu-white--main: #f3f3f3;
  --illu-brown--light: #f7cbba;
  --illu-green--light: #57d666;
  --illu-white--light: #ffffff;
  --illu-yellow--dark: #c4ab00;
  --illu-yellow--main: #fcdc00;
  --illu-yellow--light: #ffff53;

  p {
    font-family: $font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-accent;
    line-height: 43px;
    color: $color-primary--main;
  }

  a {
    color: $color-secondary--main;

    &:hover, &:active {
      color: $color-secondary--dark;
    }
  }

  .get-started {
    a {
      background-color: $color-secondary--main;
      border-radius: 4px;
      color: $color-white;
      display: block;
      font-weight: 500;
      height: $cta-height;
      line-height: $cta-height;
      padding: 0 16px;
      text-align: center;
      text-transform: uppercase;

      &:hover {
        background-color: $color-secondary--dark;
      }
    }
  }

  header {
    background-color: $color-white;
    display: block;
    margin-bottom: 23px;
    padding: 39px 0 16px;

    @media screen and (max-width: $break-small) {
      background-color: $color-primary--dark;
      margin-bottom: 39px;
      padding: 12px 0;
    }

    .container {
      @media screen and (max-width: $break-small) {
        width: initial;
        padding: 0 12px;
      }
    }

    .brightLogo {
      display: none;

      @media screen and (max-width: $break-small) {
        display: block;
      }
    }

    .darkLogo {
      display: block;

      @media screen and (max-width: $break-small) {
        display: none;
      }
    }

    .logo {
      svg {
        width: $wbm-width;
        height: $wbm-height;

        @media screen and (max-width: $break-small) {
          width: $wbm-width * 0.62;
          height: $wbm-height * 0.62;
        }
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        @media screen and (max-width: $break-small) {
          a {
            height: $wbm-height * 0.62;
            line-height: $wbm-height * 0.62;
            padding: 0 8px;
          }
        }
      }
    }
  }

  .page-header {
    text-align: center;
    padding: 20px 0 70px 0;
    background-color: $color-white;

    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      color: $color-primary--main;
      padding: 0;
      line-height: 54px;

      @media screen and (max-width: $break-small) {
        margin: 0 auto 16px;
        max-width: 440px;
      }
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: normal;
      color: $color-primary--main;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
      margin: 0 auto;
      padding: 0 8px;
      max-width: 720px;
    }

    svg {
      margin-top: 42px;
      max-width: 80%;

      @media screen and (max-width: $break-small) {
        margin-top: 0px;
      }
    }

    &.home {
      padding-bottom: 30px;
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1, h2 {
        padding-top: 0;
      }

      svg {
        max-width: 98%;
      }
    }
  }

  .features {
    .feature__item {
      padding: 36px 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 36px;
          font-weight: normal;
          margin: 8px 0;
          color: $color-primary--main;
        }

        p {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .thumbnail {
        @media screen and (max-width: $break-small) {
          margin: 0 auto;
          width: 80%;
        }

        svg {
          display: block;
          margin: 0 auto;
          max-width: 80%;
          max-height: 256px;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: $color-primary--main;
    color: $color-white;
    padding: 65px 0;
    margin: 48px 0 -48px;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .get-started {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $break-small) {
        width: initial;
        margin-top: 30px;
      }

      @media screen and (max-width: $break-small) {
        a {
          margin: 0 auto;
        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: $font-body;
        font-weight: 600;
        margin: 0 0 8px;
        color: $color-white;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: $color-primary--main;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  .bg-color{
    background-color: $color-white;
    padding: 52px 0;
  }

  .integration-guid {
    width: 730px;
    margin: 0 auto;
    color: $color-primary--main;

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-body;
    }

    .title {
      text-align: center;

      h2{
        font-size: 36px;
      }
    }

    .content{
      h1, h2, h3, h4, h5, h6{
         margin: 0;
      }
    }
  }

  footer {
    background-color: $color-primary--main;
    color: $color-white;
    padding: 120px 0 45px;
    margin-top: 48px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .footer__logo {
      svg {
        width: 150px;
      }
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          color: $color-white;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: $font-body;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: $color-white;

              &:hover, &:active {
                color: $color-secondary--main;
              }
            }
          }
        }

        .links__special {
          background-color: $color-secondary--main;
          color: $color-white;
          border-radius: 4px;
          padding: 2px 5px;

          &:hover {
            background-color: $color-secondary--dark;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          svg {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover svg {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
