$break-small: 719px;
$font-body: "Source Sans Pro", sans-serif;
$font-accent: "Bitter", serif;
$color-white: #f3f3f3;
$color-primary--light: #434345;
$color-primary--main: #1c1c1e;
$color-primary--dark: #000000;
$color-secondary--light: #64e8ff;
$color-secondary--main: #06b6dc;
$color-secondary--dark: #0086aa;

body {
  font-family: $font-body;
  color: $color-primary--light;

  p {
    font-family: $font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: $font-accent;
    line-height: 43px;
    color: $color-primary--dark;
  }

  a {
    color: $color-secondary--main;

    &:hover, &:active {
      color: $color-secondary--dark;
    }
  }

  header {
    background-color: $color-white;
    display: block;
    padding: 39px 0;

    .logo {
      img {
        width: 151px;
        height: 44px;
      }
    }

    .top-menu {
      display: flex;
      justify-content: space-between;

      .get-started {
        a {
          width: 223px;
          height: 54px;
          display: block;
          background-image: url('../images/blockstack/btn.svg');

          @media screen and (max-width: $break-small) {
            display: none;
          }

          &:hover {
            background-image: url('../images/blockstack/btn--focus.svg');
          }
        }
      }
    }
  }

  .page-header {
    text-align: center;
    padding: 70px 0 70px 0;
    background-color: $color-white;

    h1 {
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      color: $color-primary--dark;
      padding: 0;
      line-height: 54px;

      @media screen and (max-width: $break-small) {
        margin: 0 auto;
        max-width: 440px;
      }
    }

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: normal;
      color: $color-primary--dark;
      line-height: 54px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 34px;
      margin: 0 auto;
      max-width: 720px;
    }

    img {
      margin-top: 42px;
      max-width: 80%;

      @media screen and (max-width: $break-small) {
        margin-top: 0px;
      }
    }

    &.home {
      padding-bottom: 30px;
    }


    .get-started {
      display: none;

      @media screen and (max-width: $break-small) {
        display: block;
      }

      a {
        width: 223px;
        height: 54px;
        display: block;
        background-image: url('../images/blockstack/btn.svg');
        margin: 21px auto;

        &:hover {
          background-image: url('../images/blockstack/btn--focus.svg');
        }
      }
    }

    @media screen and (max-width: $break-small) {
      padding-top: 1px;
      padding-bottom: 50px;

      h1, h2 {
        padding-top: 0;
      }

      img {
        max-width: 98%;
      }
    }
  }

  .features {
    .feature__item {
      padding: 50px 0;

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 36px;
          font-weight: normal;
          margin-bottom: 8px;
          color: $color-primary--dark;
        }

        p {
          font-size: 18px;
          line-height: 26px;
        }
      }

      .thumbnail {
        @media screen and (max-width: $break-small) {
          margin: 0 auto;
          width: 80%;
        }

        img {
          max-width: 100%;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
      }

      .col-6 {
        order: 2;
      }

      .content {
        text-align: center;
        display: block !important;
        margin: 0;
      }

      h2 {
        margin-top: 10px;
      }
    }
  }

  .call-to-action {
    background-color: $color-secondary--dark;
    color: $color-white;
    padding: 65px 0;

    .container {
      display: flex;

      @media screen and (max-width: $break-small) {
        display: block;

        .call-to-action__content {
          text-align: center;
        }
      }
    }

    .button {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: $break-small) {
        display: block;
        width: 100%;
        margin-top: 30px;
      }

      a {
        width: 223px;
        height: 54px;
        display: block;
        background-image: url('../images/blockstack/btn-light.svg');

        @media screen and (max-width: $break-small) {
          margin: 0 auto;
        }

        &:hover {
          background-image: url('../images/blockstack/btn-light--focus.svg');
        }
      }
    }

    .call-to-action__content {
      h2 {
        font-size: 36px;
        font-family: $font-body;
        font-weight: 600;
        margin: 0 0 32px;
        color: $color-white;
      }

      p {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }

  .content {
    line-height: 26px;
    margin: 47px 0 23px;

    p {
      margin: 0 0 16px;
    }

    .title {
      margin: 0 0 44px;
    }
  }

  .targets {
    margin: 120px 0 0;

    .title {
      text-align: center;
      font-size: 26px;
      margin-bottom: 99px;
      color: $color-primary--dark;
    }

    .item {
      margin: 0 0 60px 0;

      h3 {
        font-size: 18px;
        margin: 5px 0 0;
      }

      p {
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  .bg-color{
    background-color: $color-white;
    padding: 52px 0;
  }

  .integration-guid {
    width: 730px;
    margin: 0 auto;
    color: $color-primary--dark;

    h1, h2, h3, h4, h5, h6 {
      font-family: $font-body;
    }

    .title {
      text-align: center;

      h2{
        font-size: 36px;
      }
    }

    .content{
      h1, h2, h3, h4, h5, h6{
         margin: 0;
      }
    }
  }

  footer {
    padding: 120px 0 45px;

    @media screen and (max-width: $break-small) {
      padding: 50px 0 45px;
    }

    .footer__logo {
      img {
        width: 150px;
      }
    }

    .widget__item {
      @media screen and (max-width: $break-small) {
        padding: 15px 0 0;
      }

      .about {
        margin-top: 26px;
      }

      .about {
        font-size: 14px;
        line-height: 23px;
      }

      .links {
        h4 {
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          font-family: $font-body;
          line-height: 0;
        }

        ul {
          margin: 15px 0 0 0;

          li {
            line-height: 26px;

            a {
              font-size: 14px;
              color: $color-primary--light;

              &:hover, &:active {
                color: $color-secondary--main;
              }
            }
          }
        }

        .links__special {
          background-color: $color-secondary--main;
          color: $color-white;
          border-radius: 4px;
          padding: 2px 5px;
          &:hover {
            color: $color-white;
          }
        }
      }

      .social {
        text-align: right;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        a {
          margin-left: 20px;

          img {
            filter: contrast(0);
            transition: 0.15s;
          }

          &:hover img {
            filter: contrast(1);
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .copyright {
      text-align: center;
      margin-top: 90px;

      @media screen and (max-width: $break-small) {
        margin-top: 31px;
      }

      p {
        font-size: 13px;
      }
    }
  }
}
